body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Open Sans Condensed',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: whitesmoke;
   
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
      font-size: 1px;
  }


#blockchain-section{
  background-color: lightyellow;
  border: 4px solid gray;
  width: 600px;
  height: 500px;
  position: relative;
  left: 758px;
  top: 100px;
  font-family: courier, monospace;  
    
}


#bitcoin-section{
  background-color: lightyellow; 
  border: 4px solid gray;
  width: 600px;
  height: 500px;
  position: relative;
  right: 50px;
  top: -418px;
  left: 75px;
  margin-top: 10px;
  margin-bottom: 25px;
  font-family: "Open Sans Condensed";

}


#more-information-resources-section{
  background-color: lightyellow;
  border: 4px solid gray; 
  position: relative;
  margin-left: 62.5px;
  margin-right: 100px;
  margin-bottom: -200px;
  width: 1300px;
  height: 850px;

  top: -300px;
  font-family: 'Open Sans Condensed';

}


#btc-video {
  position: relative; 
  left: 110px;
  margin-bottom: 20px;
  border: 3px solid gray;
  width: 507px;
  height: 285px;
  top: 0px;

}


#blockchain-video {
  position: relative; 
  left: 160px;
  margin-bottom: 20px;
  border: 3px solid gray;
  width: 507px;
  height: 285px;
  top: 0px;

}


#text-style{
  font-size: 1.5rem;
  color: #434343; 
  margin-left: 20px; 
  margin-right: 20px;
  line-height: 1.5;
  font-family: 'Open Sans Condensed';

}

#title-style{
  color: #434343;
  font-size: 2.5rem;
  text-align: center;
  font-family: 'Open Sans Condensed';

}


#article-link-style{
  position: relative;
  left: 100px; 
  target: "_blank";
  font-family: 'Open Sans Condensed';
  font-size: 2.5rem;

}




@media only screen and (min-width: 0px) and (max-width: 379px) {
  
  #blockchain-section{
    background-color: lightyellow;
    border: 4px solid gray;
    width: 250px;
    height: 260px;
    position: relative;
    left: 58.5px;
    top: 100px;
    font-family: courier, monospace;  
    
  }

  
  #article-link-style{
    position: relative;
    left: 25px; 
    target: "_blank";
    font-family: 'Open Sans Condensed';
    font-size: 16px;
  
  }
  

  #bitcoin-section{
    background-color: lightyellow; 
    border: 4px solid  gray;
    width: 250px;
    height: 250px;
    position: relative;
    left: 58.5px;
    top: 155px;
    margin-top: 10px;
    margin-bottom: 25px;
    font-family: "Open Sans Condensed";

  }


  #text-style{
    font-size: 9px; 
    color: black; 
    margin-left: 20px; 
    margin-right: 20px;
    line-height: 1.5;
    font-family: 'Open Sans Condensed';

  }


  #more-information-resources-section{
    background-color: lightyellow;
    border: 4px solid gray; 
    position: relative;
    width: 300px;
    height: 375px;
    left: -33.5px;
    margin-bottom: 305px;
    top: 200px;
    font-family: 'Open Sans Condensed';

  }


  #btc-video {
    position: relative; 
    left: 25px;
    margin-bottom: 20px;
    border: 3px solid gray;
    width: 100px;
    height: 50px;
    top: 25px;
  
  }
  
  
  #blockchain-video {
    position: relative; 
    left: 65px;
    margin-bottom: 20px;
    border: 3px solid gray;
    width: 100px;
    height: 50px;
    top: 25px;
    
  }
  

}


@media only screen and (min-width: 380px) and (max-width: 550px) {
  
  #blockchain-section{
    background-color: lightyellow;
    border: 4px solid gray;
    width: 250px;
    height: 260px;
    position: relative;
    left: 19%;
    top: 400px;
    font-family: courier, monospace;  

    
  }

  #title-style{
    color: #434343;
    font-size: 14px;
    text-align: center;
    font-family: 'Open Sans Condensed';
  
  }

    
  #text-style{
    font-size: 9px; 
    color: black; 
    margin-left: 20px; 
    margin-right: 20px;
    line-height: 1.5;
    font-family: 'Open Sans Condensed';

  }


  #article-link-style{
    position: relative;
    left: 25px; 
    target: "_blank";
    font-family: 'Open Sans Condensed';
    font-size: 16px;
  
  }
  

  #bitcoin-section{
    background-color: lightyellow; 
    border: 4px solid  gray;
    width: 250px;
    height: 250px;
    position: relative;
    left: 19%;
    top: -175px;
    margin-top: 10px;
    margin-bottom: 25px;
    font-family: "Open Sans Condensed";


  }


  #more-information-resources-section{
    background-color: lightyellow;
    border: 4px solid gray; 
    position: relative;
    width: 300px;
    height: 325px;
    left: -2%;
    margin-bottom: 200px;
    top: 150px;
    font-family: 'Open Sans Condensed';


  }


  #btc-video {
    position: relative; 
    left: 45px;
    margin-bottom: 20px;
    border: 3px solid gray;
    width: 75px;
    height: 35px;
    top: 25px;
  
  }
  
  
  #blockchain-video {
    position: relative; 
    left: 85px;
    margin-bottom: 20px;
    border: 3px solid gray;
    width: 75px;
    height: 35px;
    top: 25px;
    
  }
  

}



@media only screen and (min-width: 1600px) {

  #blockchain-section{
    position: relative;
    left: 1075px;
    top: 170px;

  }

  #bitcoin-section{
    position: relative;
    left: 250px;
    top: -350px;
  }

  #more-information-resources-section{
    position: relative;
    left: 200px;
    top: -100px;
  
  }




}