body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Open Sans Condensed',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: whitesmoke;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#mission {
  background-color: #BD4141;
}

#partners {
  background-color: whitesmoke;
}

#events {
  background-color:  whitesmoke;
}

#dropdown {
  position: relative; 
  top: -400px;
}

#hellomo {
  background-image: url("./images/luconwater.jpg");
  background-size: 1500px 320px;
  background-repeat: no-repeat;
  
}

#carouselPics {
  position: relative; 
  top: 500px;
}