body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Open Sans Condensed',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: whitesmoke;

}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
  font-size: 12px;

}

#app{
  background-color: maroon;
}

#header-style{
  min-width: 98%;
  
}
#main-statement{
  color: whitesmoke;
  text-align: center;
  font-weight: lighter;
  white-space: pre-wrap;
  letter-spacing: .2em;
  line-height: 1.5em;
  text-transform: uppercase;
  font-style: normal;
  position: relative;
  top: -75px;


  font-family: 'Open Sans Condensed';
  font-size: 3.5rem;
  webkit-font-smoothing: antialiased;
  padding: 3em;
}

#ben-pic {
  position: relative;
  height: 225px;
  width: 250px;
  left: 100px; 
  top: -75px;

}

#bi-pic {
  position: relative;
  height: 265px;
  width: 512px;
  left: 0px;
  top: -25px;

}

#mbu-pic {
  position: relative;
  height: 114.5px;
  width: 300px;
  left: 150px;
  top: -100px;

}



#mission {
  background-color: maroon; /* #E41235*/
  background-size: 100% 100%;
  min-width: 100%;
  position: relative;
  top: -194px;

}

#events-pos{
  position: relative;
  top: -175px;
}

#partners {
  background-color: whitesmoke;
}

#events {
  background-color:  whitesmoke;


}

#dropdown {
  position: relative; 
  top: -325px;
}

#hellomo {
  background-image: url("./images/luconwater.jpg");
  background-size: 100% 320px;
  background-repeat: no-repeat;
  margin-top: -28.5px;
  min-width: 100%;
  
}

#carouselPics {
  position: relative; 
  top: 500px;
}

navButton {
 position: relative;
 left: 200px;
}

.header-nav-button {
  vertical-align: right;
  position: relative;
  top: -85px;
  left: 1100px;
  font-family: "Open Sans Condensed";
  font-size: 24px;
  letter-spacing: 0.1em;
  color: black;

  margin: 0.9em;

}

#section-pos{
  position: relative;
  min-width: 100%;
  
  
}

#section-partners-pos{
  position: relative;
  top: -175px;
}

#section-titles{
  text-align: center;
  color: whitesmoke;
  font-size: 4rem;
 
  font-family: 'Open Sans Condensed';
  letter-spacing: '.1em';
}


#mission-style{
  text-align: center;
  font-family: "Open Sans Condensed";
  color: whitesmoke;
  font-size: 2.25rem; 
  padding: 30px;
  margin-left: 100px;
  margin-right: 100px;

}



#education-button{
  background-color: whitesmoke;
  position: absolute;
  font-size: 3rem; 
  font-family: 'Open Sans Condensed';

  
}

#about-button{
  background-color: whitesmoke;
  position: absolute;
 
  font-size: 3rem; 
  font-family: 'Open Sans Condensed';

  
}


#about-btn {
  position: absolute;
  left: 250px;
  top: 475px;


}


#home-btn {
  position: absolute;
  left: 675px;
  top: 475px;

}

#edu-btn {
  position: absolute;
  left: 1000px;
  top: 475px;

}


#middle-btn-pos{
  position: absolute;
  top: 468px;
  min-width: 100%;
  height: 8.5%;

}

#about-btn-pos{
  position: relative; 
  top: -147.1px;
  min-width: 100%;
  margin-bottom: 46px;
}




div[class*=box] {
    height: 33.33%;
    width: 100%; 
    position: relative;
    
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.box-1 { background-color: maroon; }
.box-2 { background-color: #3C3C3C; }
.box-3 { background-color: maroon; }

.btn {
    line-height: 50px;
    height: 50px;
    text-align: center;
    font-size: 16px;
    width: 100%;
    cursor: pointer;
}

/* 
========================
      BUTTON ONE
========================
*/
.btn-one {
    color: #FFF;
    transition: all 0.3s;
    position: relative;
}
.btn-one span {
    transition: all 0.3s;
}
.btn-one::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-top-color: rgba(255,255,255,0.5);
    border-bottom-color: rgba(255,255,255,0.5);
    transform: scale(0.1, 1);
}
.btn-one:hover span {
    letter-spacing: 5px;
    font-size: 18px;
}
.btn-one:hover::before {
    opacity: 1; 
    transform: scale(1, 1); 
}
.btn-one::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 0.3s;
    background-color: rgba(255,255,255,0.1);
}
.btn-one:hover::after {
    opacity: 0; 
    transform: scale(0.1, 1);
}



/*
Button three
*/
.btn-three {
    color: #fff;
    transition: all 0.5s;
    position: relative;
    width: 31%;
    height: 75px;
    
}
.btn-three::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(255,255,255,0.1);
  
    transition: all 0.3s;
}
.btn-three:hover::before {
    opacity: 0 ;
    transform: scale(0.5,0.5);
}
.btn-three::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
    border: 1px solid rgba(255,255,255,0.5);
    transform: scale(1.2,1.2);
}
.btn-three:hover::after {
    opacity: 1;
    transform: scale(1,1);
}




@media only screen and (min-width: 1440px) and (max-width: 2400px) {
  #hellomo {
    background-image: url("./images/luconwater.jpg");
    background-size: 100% 320px;
  }

  #about-btn-pos{
    position: relative; 
    top: 45px;
    margin-bottom: 45px;
  }
  #events-pos{
    position: relative;
    top: 0px;
  }
  #mission{
    position: relative;
    top: 0px;
  }
  #section-partners-pos{
    position: relative;
    top: 0px;
  }
    
  #ben-pic {
    position: relative;
    height: 225px;
    width: 250px;
    left: 125px; 
    top: -75px;

  }

  #bi-pic {
    position: relative;
    height: 265px;
    width: 512px;
    left: 200px;
    top: -25px;

  }
  #mbu-pic{
    left: 250px;
  }

}

/* iPhone X */
@media only screen and (min-width: 0px) and (max-width: 379px) {
  html{
    font-size: 6px;
  }
  #header-style{
    min-width: 95%;
  }
  #main-statement{
    top: 20px;
    font-weight: bolder;
  }
  #hellomo{
    position: relative;
    top: 15px;
    left: 0px;
    max-width: 99%;
  }
  #middle-btn-pos{
    position: absolute;
    margin-top: 32px;
    top: 250px;
    width: 100%;
    height: 8.5%;

  }

  #events-pos{
    position: relative;
    top: 5px;
  }

  #mission{
    position: relative;
    top: 4px;
  
  
  }


  #about-btn-pos{
    position: relative; 
    top: 53px;
    margin-bottom: 55px;
  }

  #ben-pic {
    position: relative;
    height: 75px;
    width: 75px;
    left: 20px;
    top: 0px;

  }

  #bi-pic {
    position: relative;
    height: 60px;
    width: 180px;
    left: 30px;
    top: -12.5px;

  }

  #mbu-pic {
    position: relative;
    height: 30px;
    width: 60px;
    left: 40px;
    top: -25px;
    
  }
  
  #mission-style{
    text-align: center;
    font-family: "Open Sans Condensed";
    color: whitesmoke;
    font-size: 15px; 
    padding: 20px;
    width: 300px;
    margin-left: 25px;
    margin-right: 25px;
   
  }

  #mission{
    position: relative;
    top: -2px;
  }

  #section-partners-pos{
    position: relative;
    top: -2px;
  }



}



@media only screen and (min-width: 0px) and (max-width: 550px) {
#hellomo {
  background-image: url("https://www.luc.edu/media/lucedu/universitynewsroom/newsroom-home1800x735.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: -28.5px;
  
}
.btn-one:hover span {
    letter-spacing: 3px;
    font-size: 18px;
}
}




@media only screen and (min-width: 380px) and (max-width: 550px) {
    
  html {
    font-size: 6px;

  }
  #main-statement{
    top: 15px;
    font-weight: bolder;
  }

  #header-style{
    min-width: 95%;
  }


  #mission{
    position: relative;
    top: 0px;
  
  }
  
.header-nav-button {
  vertical-align: right;
  position: relative;
  top: -85px;
  left: 1100px;
  font-family: "Open Sans Condensed";
  font-size: 2rem;
  letter-spacing: 0.1em;
  color: black;

  margin: 0.9em;

}

#events-pos{
  position: relative;
  top: 5px;
}

#section-partners-pos{
  position: relative;
  top: 0px;
}


  
#hellomo {
  background-image: url("https://www.luc.edu/media/lucedu/universitynewsroom/newsroom-home1800x735.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: -28.5px;
  
}

  #ben-pic {
    position: relative;
    height: 75px;
    width: 75px;
    left: 20px;
    top: -10px;

  }

  #bi-pic {
    position: relative;
    height: 60px;
    width: 180px;
    left: 35px;
    top: -12.5px;

  }

  #mbu-pic {
    position: relative;
    height: 30px;
    width: 60px;
    left: 50px;
    top: -25px;
    
  }

  #mission-style{
    text-align: center;
    font-family: "Open Sans Condensed";
    color: whitesmoke;
    font-size: 2.5rem; 
    padding: 20px;
    margin-left: 25px;
    margin-right: 25px;
   
  }


    
  #about-btn {
    position: absolute;
    margin-left: 25px;
    left: 0px;
    top: 281px;


  }


  #home-btn {
    position: absolute;
    left: 150px;
    top: 281px;

  }

  #edu-btn {
    position: absolute;
    left: 274px;
    top: 281px;

}

  #middle-btn-pos{
    position: absolute;
    top: 250px;
    width: 100%;
    height: 8.5%;

  }

    
  #about-btn-pos{
    position: relative; 
    top: 47.5px;
    margin-bottom: 47px;
}




}

@media only screen and (min-width: 551px) and (max-width: 1024px) {
 
  


}





/* Okay with iPhone 6/7/8 plus, Pixel 2, iPad Pro, Laptops, Desktops (mostly), iPhone X, Moto 4, Galaxy S5, */
